#bg_almanaque_section {
	width:450px; 
	height:600px; 
	display:block; 
	padding-right:50px; 
	padding-bottom:15px; 
	padding-left:50px; 
	z-index:-10; 
	margin-left:auto; 
	margin-right:auto; 
	background-color:transparent; 
	position:relative; 
	float:none; 
	top:-550px; 
	background-position:50% 0%; 
	background-position-x:50%; 
	background-position-y:0%; 
	background-repeat-x:no-repeat; 
	background-repeat-y:no-repeat; 
	background-repeat:no-repeat; 
	background-size:auto 100%; 
}

.figure_logo {
	height:130px;
	width:130px;
	position:relative;
	float:none;
	margin-left:auto;
	background-size:130px;
	margin-right:auto;
	display:block;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

.line_date {
	width:90px;
	height:2px;
	text-align:center;
	display:block;
	background-color:#70B048;
	margin-top:5px;
	position:relative;
}

#line_date_left {
	float:left;
	position:relative;
}

#line_date_right {
	float:right;
	position:relative;
}

.text_logo_date {
	width:50px;
	height:auto;
	text-align:center;
	display:block;
	position:relative;
	float:left;
	color:#70B048;
}

.section_logo_date {
	height:200px;
	margin-top:60px;
	width:33%;
	background-color:transparent;
	position:relative;
	float:left;
}

.text_cliente {
	width:100%;
	display:none;
	text-align:right;
	color:#70B048;
	text-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	position:relative;
	float:left;
	height:100%;
	padding-top:15px;
}

.text_cliente:hover {
	-webkit-transition-delay:0.1s;
	transition-delay:0.1s;
	-o-transition-delay:0.1s;
	-ms-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-webkit-transition-duration:0.3s;
	transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
	-moz-transition-duration:0.3s;
	-webkit-transition-property:all;
	transition-property:all;
	-o-transition-property:all;
	-ms-transition-property:all;
	-moz-transition-property:all;
	-webkit-transition-timing-function:inherit;
	transition-timing-function:inherit;
	-o-transition-timing-function:inherit;
	-ms-transition-timing-function:inherit;
	-moz-transition-timing-function:inherit;
	background-color:rgba(77,184,72,0.90);
	height:110px;
}

#txt_align_04 {
	width:80%;
}

.figure_cliente {
	width:200px;
	height:125px;
	position:relative;
	float:left;
	display:block;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	margin-left:5px;
	margin-right:5px;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
}

.figure_cliente:hover .text_cliente {
	display:block;
}

.figure_cliente:hover .text_cliente:hover {
	color:#FFFFFF;
}

.circle_section01 {
	height:410px;
	position:relative;
	margin-top:200px;
	background-color:rgba(255,255,255,0.45);
	-webkit-border-bottom-left-radius:50%;
	border-bottom-left-radius:50%;
	-o-border-bottom-left-radius:50%;
	-ms-border-bottom-left-radius:50%;
	-moz-border-radius-bottomleft:50%;
	-webkit-border-bottom-right-radius:50%;
	border-bottom-right-radius:50%;
	-o-border-bottom-right-radius:50%;
	-ms-border-bottom-right-radius:50%;
	-moz-border-radius-bottomright:50%;
	-webkit-border-top-left-radius:50%;
	border-top-left-radius:50%;
	-o-border-top-left-radius:50%;
	-ms-border-top-left-radius:50%;
	-moz-border-radius-topleft:50%;
	-webkit-border-top-right-radius:50%;
	border-top-right-radius:50%;
	-o-border-top-right-radius:50%;
	-ms-border-top-right-radius:50%;
	-moz-border-radius-topright:50%;
	width:410px;
	float:left;
}

#li_section01 {
	list-style-image:url(images/icon_li.png);
	width:auto;
}

.logo_anos {
	background-size:100%;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	float:left;
}

/* ========================================================================== Itens */

body {
	width:100%;
	height:100%;
	font-family:UnBPro-RegularRegular, arial, helvetica;
	font-style:normal;
	font-size:11pt;
	white-space:nowrap;
	margin:0;
    overflow-x: hidden;
}

.section_global {
	width:100%;
}

.div_space {
	clear:both;
}

.line {
	width:87%;
	height:1px;
	position:relative;
	float:none;
	display:block;
	margin:5px auto 15px auto;
}

#line_section_date {
	border-image:initial;
}

#line_section_01, #line_section_05 {
	border-top:1px solid rgba(191,191,191,0.24);
	border-bottom:1px solid rgba(255,255,255,0.60);
}

#line_section_03 {
	border-top:1px solid #141414;
	border-bottom:1px solid #202020;
}

#line_section_06 {
	border-top:1px solid #000000;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.divisor {
    background-image: url("images/separador.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 20px;
    position: relative;
    top: 10px;
}

.header_title {
	color:#4DB848;
	text-transform:uppercase;
	font-family:PopulaireMedium;
}

#header {
	font-size:40pt;
	text-align:center;
	width:100%;
	margin-top:50px;
}

#header_section_01 {
	font-size:70pt;
	text-align:center;
	width:100%;
	margin-top:50px;
}

.header_section_02 {
	font-family:UnBPro-RegularRegular, arial, helvetica;
	font-size:10pt;
	text-align:right;
}

#header_section_03 {
	font-size:44pt;
	text-align:center;
	width:100%;
	margin-top:50px;
}

.header_section_04 {
	font-size:10pt;
	text-align:right;
	margin-top:5px;
}

#header_section_04 {
	font-size:48pt;
	text-align:left;
	width:auto;
	margin-left:5px;
	float:left;
	font-weight:normal;
}

#header_section_05 {
	font-size:60pt;
	text-align:center;
	width:100%;
	margin-top:50px;
}

#header_section_06 {
	font-size:48pt;
	padding-top:130px;
	text-align:center;
	margin-top:50px;
}

.section_alphablack {
	background-color:rgba(0,0,0,0.75);
	-webkit-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-o-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-ms-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	width:992px;
	height:auto;
	float:left;
	position:relative;
	margin-top:100px;
	margin-right:300px;
	margin-left:150px;
	padding:15px 45px 15px 0px;
}

#alphablack_membros {
}

#alphablack_exmembros {
}

.figure_pessoas {
	float:left;
	height:100px;
	background-size:auto 100%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	width:80px;
	margin-right:-25px;
	clear:right;
	opacity:0.8;
}

.figure_pessoas:hover {
	background-size:auto 110%;
	opacity:1;
}

.figure_pessoas:active {
	background-size:auto 99%;
}

#note_pessoas {
	float:right;
	width:auto;
	height:auto;
	margin-right:15px;
	margin-top:15px;
	margin-left:45px;
	padding:10px;
}

.mousehover {
	display:block;
}

/* Fim dos Itens */

/* ========================================================================== Menu */

.menu {
	float:none;
	border-image:initial;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-top:15px;
	z-index:1000;
}

.menu li, .menu li #submenu2, .menu li #submenu3 {
	margin-right:20px;
	height:30px;
	float:left;
	z-index:990;
}

.menu li #submenu1 {
	left:-50px;
}

.menu li #submenu2 {
	left:50px;
}

.menu li #submenu3 {
	left:160px;
}

.menu li #submenu4 {
    left: 275px;
}

.li2 {
	margin-left:-20px;
}

.menu li a {
	text-decoration:none;
	padding-top:0;
	display:block;
	color:#B0B0B0;
	margin-right:5px;
}

.menu li a:hover {
	color:#C9C9C9;
	text-shadow:rgb(255, 255, 255) 0px 0px 1px;
}

.menu li ul {
	width:auto;
	height:auto;
	background-color:rgba(0,0,0,0.90);
	display:none;
	position:absolute;
	list-style-type:none;
	list-style-position:initial;
	list-style-image:initial;
	top:45px;
	padding-top:15px;
	z-index:1100;
	-webkit-box-shadow:rgba(0, 0, 0, 0.246094) 0px 5px 5px;
	box-shadow:rgba(0, 0, 0, 0.246094) 0px 5px 5px;
	-o-box-shadow:rgba(0, 0, 0, 0.246094) 0px 5px 5px;
	-ms-box-shadow:rgba(0, 0, 0, 0.246094) 0px 5px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.246094) 0px 5px 5px;
	border-left:1px solid #F9F9F9;
	border-right:1px solid #F9F9F9;
	border-bottom:1px solid #F9F9F9;
}

.menu li:hover ul, .menu li.over ul {
	display:inline;
}

.nav {
	position:fixed;
	float:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:100%;
	z-index:1000;
}

#nav_center {
	width:1000px;
	height:100%;
	position:relative;
	float:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.nav_global {
	width:100%;
	height:45px;
	position:relative;
	float:none;
	display:block;
	background-color:#FFFFFF;
	text-transform:uppercase;
	color:#929191;
	-webkit-box-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	box-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	-o-box-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	-ms-box-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	-moz-box-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 3px;
	margin:30px auto 10px auto;
}

/* Fim do Menu */

/* ========================================================================== Seções */

.content_04, .content_05 {
	width:3840px;
}

#slice_global_07 {
}

#slice_07 {
}

#content_07 {
}

#section_06 {
	padding-top:50px;
	padding-bottom:150px;
}

#article_slice_06 {
	color:#FFFFFF;
	font-family:UnBPro-RegularRegular, arial, helvetica;
	font-style:normal;
	font-size:10pt;
	text-align:center;
	text-shadow:rgba(0, 0, 0, 0.292969) 0px 1px 2px;
	line-height:1.3em;
	text-rendering:optimizelegibility;
	margin-top:20px;
}

#slice_global_06 {
}

#slice_06 {
}

#content_06_section {
	width:500px;
	height:500px;
	background-color:rgba(0,0,0,0.74);
	position:relative;
	-webkit-border-top-left-radius:50%;
	border-top-left-radius:50%;
	-o-border-top-left-radius:50%;
	-ms-border-top-left-radius:50%;
	-moz-border-radius-topleft:50%;
	-webkit-border-top-right-radius:50%;
	border-top-right-radius:50%;
	-o-border-top-right-radius:50%;
	-ms-border-top-right-radius:50%;
	-moz-border-radius-topright:50%;
	-webkit-border-bottom-right-radius:50%;
	border-bottom-right-radius:50%;
	-o-border-bottom-right-radius:50%;
	-ms-border-bottom-right-radius:50%;
	-moz-border-radius-bottomright:50%;
	-webkit-border-bottom-left-radius:50%;
	border-bottom-left-radius:50%;
	-o-border-bottom-left-radius:50%;
	-ms-border-bottom-left-radius:50%;
	-moz-border-radius-bottomleft:50%;
	float:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#content_06 {
	width:auto;
	height:auto;
}

#article_slice_05 {
	color:#747474;
	font-family:UnBPro-RegularRegular, arial, helvetica;
	font-size:10pt;
	line-height:1.3em;
	text-rendering:optimizelegibility;
	margin-right:0;
	margin-left:20px;
}

#slice_global_05 {
}

#slice_05 {
}

#content_05 {
}

#slice_global_04 {
}

#slice_04 {
}

.content_04 {
	width:1100px;
	height:700px;
	background-color:#FFFFFF;
	float:left;
	position:relative;
	margin-top:100px;
	margin-left:150px;
	margin-right:150px;
	padding:35px;
}

.portifolio_header {
	float:none;
	position:absolute;
	display:block;
	background-color:rgba(0,0,0,0.70);
	color:#70B048;
	height:35px;
	width:305px;
	margin:365px auto 0px auto;
	padding:15px 0px 0px 10px;
}

.portifolio_item {
	height:415px;
	width:315px;
	position:relative;
	float:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
	margin-top:50px;
}

.portifolio_item:hover {
	-webkit-box-shadow:rgba(187, 187, 187, 0.496094) 0px 0px 5px;
	box-shadow:rgba(187, 187, 187, 0.496094) 0px 0px 20px;
	-o-box-shadow:rgba(187, 187, 187, 0.496094) 0px 0px 5px;
	-ms-box-shadow:rgba(187, 187, 187, 0.496094) 0px 0px 5px;
	-moz-box-shadow:rgba(187, 187, 187, 0.496094) 0px 0px 5px;
}

.portifolio_item .portifolio_header:hover {
	background-color:#000000;
}

.portifolio_section {
	-webkit-box-shadow:rgba(0, 0, 0, 0.292969) 0px 5px 5px;
	box-shadow:rgba(0, 0, 0, 0.292969) 0px 5px 5px;
	-o-box-shadow:rgba(0, 0, 0, 0.292969) 0px 5px 5px;
	-ms-box-shadow:rgba(0, 0, 0, 0.292969) 0px 5px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.292969) 0px 5px 5px;
}

.portifolio_hgroup {
	width:auto;
	height:550px;
	float:left;
	position:relative;
	background-color:#141414;
	margin-top:100px;
	padding-left:50px;
	padding-right:50px;
}

#portifolio_article {
	color:#FFFFFF;
	position:relative;
	display:block;
	width:auto;
}

.portifolio_div {
	background-color:#141414;
	width:315px;
	height:550px;
	float:left;
	position:relative;
	margin-top:100px;
	margin-left:0;
	padding:inherit;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	margin-right:0;
	padding-right:15px;
}

#portifolio_last {
	margin-right:0;
	padding-right:115px;
}

#aside_section_03 {
	width:2000px;
	height:500px;
	background-color:#141414;
	float:left;
	position:relative;
	-webkit-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-o-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-ms-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	margin-top:130px;
	margin-bottom:130px;
	color:#4DB848;
	padding-top:50px;
}

#article_section_03 {
	width:380px;
	height:500px;
	margin-left:0%;
	float:left;
	position:relative;
	background-color:#141414;
	-webkit-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-o-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-ms-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.292969) 0px 0px 5px;
	margin-top:130px;
	color:#FFFFFF;
	padding-left:3%;
	padding-top:50px;
}

#slice_global_03 {
}

#slice_03 {
}

#content_03 {
	width:auto;
	padding-top:150px;
	height:auto;
}

#article_slice_02 {
	color:#FFFFFF;
}

#slice_global_02 {
}

#slice_02 {
}

#content_02 {
	width:auto;
	padding-left:15%;
	margin-bottom:130px;
	height:auto;
}

#section_alphablack_membros {
}

#section_black_exmembros {
}

#section_alphablack_quotes {
}

#article_slice_01 {
	color:#545454;
	text-align:justify;
}

.logo_slice_01 {
	width:300px;
	height:600px;
	margin-left:50px;
	float:left;
	position:relative;
	margin-top:100px;
	background-size:100%;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

#slice_01 {
}

#content_01 {
	width:auto;
	height:auto;
	padding-bottom:150px;
}

#slice_01, #slice_02, #slice_03, #slice_04, #slice_05, #slice_06, #slice_07 {
	overflow:auto;
	white-space:nowrap;
}

.article_global {
	text-align:left;
	line-height:1.5em;
	font-size:11pt;
	font-style:normal;
	text-rendering:optimizelegibility;
	padding:5px;
}

.slice_content {
	min-height:500px;
	height:auto;
	padding:130px 20px 130px 50px;
}

#social_section {
	padding-bottom:50px;
}

.social_nav {
	float:right;
	margin-right:25px;
}

#social_nav_facebook {
}

#social_nav_twitter {
}

.twitter-follow-button {
}

/* Fim da Seções */

/* ========================================================================== Footer */

#social_wordpress {
	background-image:url(images/icon_wordpress.png);
}

#social_facebook {
	background-image:url(images/icon_facebook.png);
}

#social_twitter {
	background-image:url(images/icon_twitter.png);
}

#social_vimeo {
    background-image:url(images/icon_vimeo.png);
}

#social_flicker {
    background-image:url(images/icon_flicker.png);
}

.social {
	float:right;
	height:25px;
	width:25px;
	background-size:auto 100%;
	background-repeat-x:repeat;
	background-repeat-y:no-repeat;
	background-repeat:repeat-x;
}

#section_social {
}

#footer_image_logo {
	background-image:url(images/icon_footer.png);
	width:250px;
	height:100px;
	background-size:80%;
	margin-top:50px;
	float:left;
	background-position:50% 50%;
	background-position-x:50%;
	background-position-y:50%;
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-repeat:no-repeat;
}

.footer {
	width:100%;
	height:250px;
	background-image:url(images/bg/pattern2.jpg);
	padding-bottom:10px;
	float:left;
}
/* Fim do Footer */

/* Facebook - Twitter */
#redessociais {
    position: relative;
    left: 480px;
}

.twitter-follow-button {
    position: relative;
    right: 0;
    top: 15px;
}
.fb-like {
    position: relative;
    right: 20px;
    top: 10px;
}

/* setando tamanho fixo na seção de membros independente do número de fotos */


#membros_section {
    height: 650px;
}

.menu li a{
    padding-top: 20px;
    height: 33px;
    margin-top: -20px;
    background-repeat: no-repeat;
    background-position: center;
}
.menu_ativo{
    background-image: url('images/menu_selecionado.png');
}

/* almanaque */

#section_05{
    position: relative;
    left: 200px;
}