@font-face { 
    font-family: 'PopulaireMedium'; 
    src: url('populaire-webfont.eot?#iefix') format('embedded-opentype'), 
        url('populaire-webfont.woff') format('woff'), 
        url('populaire-webfont.ttf') format('truetype'), 
        url('populaire-webfont.svg#PopulaireMedium') format('svg'); 
    font-weight: normal; 
    font-style: normal; 

}

@font-face {
    font-family: 'unb_officebold_italic';
    src: url('unb-office_bold-italic-webfont.eot');
    src: url('unb-office_bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb-office_bold-italic-webfont.woff') format('woff'),
         url('unb-office_bold-italic-webfont.ttf') format('truetype'),
         url('unb-office_bold-italic-webfont.svg#unb_officebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unb_officeitalic';
    src: url('unb-office_italic-webfont.eot');
    src: url('unb-office_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb-office_italic-webfont.woff') format('woff'),
         url('unb-office_italic-webfont.ttf') format('truetype'),
         url('unb-office_italic-webfont.svg#unb_officeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unb_officeregular';
    src: url('unb-office_regular-webfont.eot');
    src: url('unb-office_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb-office_regular-webfont.woff') format('woff'),
         url('unb-office_regular-webfont.ttf') format('truetype'),
         url('unb-office_regular-webfont.svg#unb_officeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unb_officebold';
    src: url('unb-office_bold-webfont.eot');
    src: url('unb-office_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb-office_bold-webfont.woff') format('woff'),
         url('unb-office_bold-webfont.ttf') format('truetype'),
         url('unb-office_bold-webfont.svg#unb_officebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UnBPro-BlackRegular';
    src: url('unb_pro_black-webfont.eot');
    src: url('unb_pro_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_black-webfont.woff') format('woff'),
         url('unb_pro_black-webfont.ttf') format('truetype'),
         url('unb_pro_black-webfont.svg#UnBPro-BlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UnBPro-BoldItalicRegular';
    src: url('unb_pro_bold_italic-webfont.eot');
    src: url('unb_pro_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_bold_italic-webfont.woff') format('woff'),
         url('unb_pro_bold_italic-webfont.ttf') format('truetype'),
         url('unb_pro_bold_italic-webfont.svg#UnBPro-BoldItalicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UnBPro-BoldRegular';
    src: url('unb_pro_bold-webfont.eot');
    src: url('unb_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_bold-webfont.woff') format('woff'),
         url('unb_pro_bold-webfont.ttf') format('truetype'),
         url('unb_pro_bold-webfont.svg#UnBPro-BoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UnBPro-RegularItalicRegular';
    src: url('unb_pro_italic-webfont.eot');
    src: url('unb_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_italic-webfont.woff') format('woff'),
         url('unb_pro_italic-webfont.ttf') format('truetype'),
         url('unb_pro_italic-webfont.svg#UnBPro-RegularItalicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UnBPro-LightRegular';
    src: url('unb_pro_light-webfont.eot');
    src: url('unb_pro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_light-webfont.woff') format('woff'),
         url('unb_pro_light-webfont.ttf') format('truetype'),
         url('unb_pro_light-webfont.svg#UnBPro-LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'UnBPro-RegularRegular';
    src: url('unb_pro_regular-webfont.eot');
    src: url('unb_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('unb_pro_regular-webfont.woff') format('woff'),
         url('unb_pro_regular-webfont.ttf') format('truetype'),
         url('unb_pro_regular-webfont.svg#UnBPro-RegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}